{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="card">
        <h2 style="margin-top:0; text-align:center;">Admin Login</h2>
        <form method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div style="margin-bottom: 1rem; text-align: right;">
                <a href="{{ url_for('admin.forgot_password') }}" class="forgotpassword"
                    style="font-size: 0.9rem;">Forgot Password?</a>
            </div>
            <button type="submit" class="btn btn-primary" style="width:100%">Login</button>
        </form>
    </div>
</div>
{% endblock %}